body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 20px;
}

.nav{
    background: rgb(53, 52, 52);
}

.nav__lista{
    margin: 0px;
    text-align: center;
}

.nav__item{
    display: inline-block;
}

.nav__link{
    color: rgb(245, 236, 236);
    text-decoration: none;
    padding: 10px;
    background: rgb(53, 52, 52);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}

.nav__link:hover{
    color: rgb(63, 62, 62);
    background-color: rgb(235, 232, 232);
}

.link--login{
    background: black;
    margin-left: 100px;
}

.link--login:hover{
    color: rgb(187, 52, 74);
    background: rgb(78, 71, 71);
}