body{
    background: rgb(68, 68, 68);
}

table{
    margin: auto;
    font-family: sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 30px 0 black;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
}

tr{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 5px;
    
}

th{
    padding: 8px;
    
}

td{
    padding: 4px;
    
}