.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    margin-bottom: 50px;
}

.grid-item{
    background-color: #4765c0;
    color: rgb(244, 237, 250);
    padding: 10px;
}







.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 100px;

}

.grid-item2{
    background-color: #4765c0;
    color: rgb(244, 237, 250);
    padding: 10px;
}