p{
    color:red;
    font-family:RobotoCondensed;
    font-size: 16px;   
    text-align: justify;
    text-decoration:none;
    letter-spacing: 1px;
    line-height: 1;
}

h1{
    text-align: center;
    font-family: RobotoCondensed;
}

a{
    text-decoration: none;
}