*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px 5px 0px 5px;
}

.contenedor{
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    background-color: antiquewhite;
    flex-grow: 1;
    flex-basis: 1;
}

img{
    max-width: 100%;
    height: auto;
}