body{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.flexbox{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 1px solid;
    justify-content: space-evenly;
    /* usar cuando se tenga varias columnas o filas */
    align-content: end;
    /* usar cuando se tenga una sola columna o una sola fila */
    align-items: ;
}

.flexbox__item{
    flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: rgb(203, 204, 204);
}

.item--red{
    background-color: red;
}

.item--blue{
    background-color: blue;
}

.item--green{
    background-color: green;
}