body{
    margin: 0px;
}

.fixed{
    background: rgb(97, 97, 97);
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 50%;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
    color: rgb(51, 50, 50);
}

.sticky{
    position: sticky;
    width: 100px;
    height: 100px;
    background: red;
    top: 50px;
}

p{
    padding: 20px;
}