body{
    background-color: rgb(39, 38, 38);

}

.caja{
    width: 300px;
    background-color: rgb(114, 109, 106);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px black;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
}

h2{
    text-align: center;
    letter-spacing: 10px;
    font-family:sans-serif;
    color: white;
    text-decoration: underline;
}

p{
    text-align: justify;
    font-family: Arial;
    font-size: 14px;
    color: white;
}

img{
    width: 100%;
    height: 400px;
    border-radius: 100%;
    border: 5px solid white;
}