body{
    background-color: rgb(43, 38, 38);
    font-family: sans-serif;
}

form{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 40px 0px rgb(0, 0, 0);
    margin: auto;
    border-radius: 20px;
    padding: 10px;

}

h2{
    color: rgb(250, 244, 244);
    margin-bottom: 20px;
    letter-spacing: 8px;
    margin: 10px;
    text-align: center;
}

input, textarea, select{
    width: 90%;
    padding: 8px;
    margin: 15px;
    background: none;
    border: none;
    border-left: 10px solid white;
    border-radius: 20px;
    color: white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgb(43, 38, 38);
}

textarea{
    color: white;
    max-width: 90%;
    min-height: 40%;
    resize: vertical;
    font-family: sans-serif;
}

label{
    margin-left: 10px;
    color: white;
}