body{
    background-color: red;
    margin: 0;
}

div{
    width: 300px;
    height: 300px;
    background: radial-gradient(transparent,#2b0606);
    margin: auto;
    border-top: 6px solid rgb(0, 0, 0);
}

h1{
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}