body{
    background-color: rgb(238, 238, 231);
    margin: 0px;
}

div{
    width: 200px;
    height: 200px;
    background-color: rgb(171, 228, 209);
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    overflow: auto;
    border-radius: 10px;
}