body{
    background: rgb(48, 47, 47);
    margin: 0;
    padding: 0;
}

video{
    width: 50%;
    height: 50%;
    background: linear-gradient(white, black);
}

a{
    text-decoration: none;
}

div{
    margin: auto;
    width: 200px;
    height: 500px;
}